.button {
    color: white;
    background-color: $tertiary-green;
    border: none;
    border-radius: 3px;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    
    &--link {
        background: none;
    }
    
    &--secondary {
        background-color: $primary-blue;
    }
}